<div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{with .Notifications}}
      {{range .}}
      <div class="modal-body">
        <div class="list-group list-group-flush my-n3">
          <div class="list-group-item bg-transparent">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="fe fe-box fe-24"></span>
              </div>
              <div class="col">
                <small><strong>{{.Title}}</strong></small>
                <div class="my-0 text-muted small">{{.Data}}</div>
                <small class="badge badge-pill badge-light text-muted">{{.Time}} ago.</small>
                <a href="/viewntfcn/?ntfcnId={{.NotificationId}}" class="badge badge-pill badge-light text-muted">view more...</a>
              </div>
            </div>
          </div>
        </div> <!-- / .list-group -->
      </div>
      {{end}}
      {{end}}
      <div class="modal-footer">
        <a href="/clearallnotifications" type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</a>
      </div>
    </div>
  </div>
</div>
