<div class="card shadow">
  <div class="card-body">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th>TID</th>
          <th>Subject</th>
          <th>Priority</th>
          <th>Assigned</th>
          <th>Status</th>
          <th>Last Update</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#TK-1022</td>
          <td><strong>Emergency Patch Failure on WS-04</strong></td>
          <td><span class="text-danger font-weight-bold">Urgent</span></td>
          <td>Brown, Asher</td>
          <td><span class="badge badge-pill badge-warning">In Progress</span></td>
          <td>12m ago</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>